services:

	zsi.registrationUserFormFactory:
		class: ZsiModule\Forms\UserFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)
		tags: [component]

	zsi.registrationCompanyFormFactory:
		class: ZsiModule\Forms\CompanyFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)
		tags: [component]

	zsi.productFormFactory:
		class: ZsiModule\Forms\ProductFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	zsi.tagFormFactory:
		class: ZsiModule\Forms\TagFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	zsi.scoreTypeFormFactory:
		class: ZsiModule\Forms\ScoreTypeFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	zsi.commentsFormFactory:
		class: ZsiModule\Forms\CommentsFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	zsi.scoreFormFactory:
		class: ZsiModule\Forms\ScoreFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

	cms.securityManager:
		setup:
			- addUserType(ZSI user, \ZsiModule\Entities\UserEntity, zsi.registrationUserFormFactory)
			- addUserType(ZSI company, \ZsiModule\Entities\CompanyEntity, zsi.registrationCompanyFormFactory)


	zsi.productPresenter:
		class: ZsiModule\Presenters\ProductPresenter
		tags: [presenter]

	zsi.productContent:
		class: CmsModule\Content\ContentType('ZsiModule\Entities\PageEntity')
		setup:
			- addSection('Products', @zsi.productControlFactory)
			- addSection('Tags', @zsi.tagControlFactory)
			- addSection('Score types', @zsi.scoreTypeControlFactory)
		tags: [contentType: [name: 'ZSI page']]


##
# Repositories
#
	zsi.productRepository:
		class: ZsiModule\Entities\ProductEntity
		tags: [repository]

	zsi.tagRepository:
		class: ZsiModule\Entities\TagEntity
		tags: [repository]

	zsi.scoreTypeRepository:
		class: ZsiModule\Entities\ScoreTypeEntity
		tags: [repository]


factories:
	zsi.productControl:
		class: ZsiModule\Components\ProductControl(@zsi.productRepository)
		tags: [component]

	zsi.tagControl:
		class: ZsiModule\Components\TagControl(@zsi.tagRepository)
		tags: [component]

	zsi.scoreTypeControl:
		class: ZsiModule\Components\ScoreTypeControl(@zsi.scoreTypeRepository)
		tags: [component]
